Repository hvac/hvac, pull requests merged in 2018-10, with the labels that each got.

#285 Azure wrapper
  docs/source/hvac_api_azure.rst
  docs/source_reference.rst
  docs/usage.rst
  docs/usage/auth_methods/azure.rst
  docs/usage/auth_methods/index.rst
  docs/usage/secrets_engines/azure.rst
  docs/usage/secrets_engines/index.rst
  docs/usage/wrappers/azure.rst
  docs/usage/wrappers/index.rst
  docs/usage/wrappers/kv.rst
  hvac/api/__init__.py
  hvac/api/azure.py
  hvac/tests/unit_tests/api/test_azure.py
  hvac/v1/__init__.py
Labels: auth methods, azure

#286 Azure Auth Class
  docs/usage/auth_methods/azure.rst
  docs/usage/wrappers/azure.rst
  docs/usage/wrappers/index.rst
  hvac/api/auth/__init__.py
  hvac/api/auth/azure.py
  hvac/api/azure.py
  hvac/api/constants.py
  hvac/tests/integration_tests/api/auth/test_azure.py
  hvac/tests/unit_tests/api/auth/test_azure.py
  hvac/tests/unit_tests/api/test_azure.py
Labels: auth methods, aws

#287 Azure Secret Engine
  docs/usage.rst
  docs/usage/auth_methods/azure.rst
  docs/usage/secrets_engines/azure.rst
  docs/usage/wrappers/azure.rst
  docs/usage/wrappers/index.rst
  hvac/api/azure.py
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/azure.py
  hvac/tests/integration_tests/api/secrets_engines/test_azure.py
  hvac/tests/unit_tests/api/secrets_engines/test_azure.py
  hvac/tests/unit_tests/api/test_azure.py
Labels: auth methods, azure

#288 Misc Azure auth doc cleanup
  docs/usage/auth_methods/azure.rst
  hvac/api/auth/azure.py
Labels: aws, bug

#289 Update Test Runs from Vault v0.11.1 => 0.11.2
  .gitignore
  .travis.yml
  hvac/tests/integration_tests/v1/test_system_backend.py
  hvac/tests/utils.py
  scripts/install-vault.sh
  tox.ini
Labels: CI/CD

#280 Using Various Regions With AWS IAM Auth
  docs/usage/auth_methods/aws.rst
  hvac/v1/__init__.py
Labels: auth methods, aws, documentation-request

#240 Add GCP Auth Method Class
  docs/source/hvac_api_azure.rst
  docs/source/hvac_api_wrappers.rst
  docs/source_reference.rst
  docs/usage.rst
  docs/usage/auth_methods/gcp.rst
  docs/usage/wrappers/gcp.rst
  docs/usage/wrappers/index.rst
  hvac/api/__init__.py
  hvac/api/auth/__init__.py
  hvac/api/auth/gcp.py
  hvac/api/gcp.py
  hvac/tests/integration_tests/api/auth/test_gcp.py
  hvac/tests/unit_tests/api/auth/test_gcp.py
  hvac/tests/unit_tests/api/test_gcp.py
  hvac/utils.py
  hvac/v1/__init__.py
  test/example.jwt.json
Labels: auth methods, gcp

#312 Patch warnings module in HvacIntegrationTestCase
  hvac/tests/utils.py
Labels: CI/CD

#314 Auth system backend methods
  docs/usage/system_backend/auth.rst
  docs/usage/system_backend/index.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/audit.py
  hvac/api/system_backend/auth.py
  hvac/tests/integration_tests/api/auth_methods/test_github.py
  hvac/tests/integration_tests/api/auth_methods/test_ldap.py
  hvac/tests/integration_tests/api/system_backend/test_auth.py
  hvac/tests/integration_tests/v1/test_integration.py
  hvac/tests/integration_tests/v1/test_system_backend.py
  hvac/v1/__init__.py
Labels: system backend

#315 New health related classes
  docs/usage/system_backend/health.rst
  hvac/adapters.py
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/health.py
  hvac/tests/integration_tests/api/system_backend/test_health.py
Labels: system backend

#316 Add sys init class
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/init.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/init.py
  hvac/tests/integration_tests/api/system_backend/test_init.py
  hvac/tests/utils.py
  hvac/v1/__init__.py
Labels: system backend

#317 New sys backend classes key
  docs/usage/system_backend/health.rst
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/key.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/key.py
  hvac/constants/client.py
  hvac/tests/integration_tests/api/system_backend/test_health.py
  hvac/tests/integration_tests/api/system_backend/test_key.py
  hvac/v1/__init__.py
Labels: system backend

#318 Add new sys Leader class
  docs/usage/system_backend/health.rst
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/leader.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/leader.py
  hvac/constants/client.py
  hvac/tests/integration_tests/api/system_backend/test_leader.py
  hvac/v1/__init__.py
Labels: system backend

#319 New sys backend classes lease
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/lease.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/key.py
  hvac/api/system_backend/lease.py
  hvac/tests/integration_tests/api/system_backend/test_lease.py
  hvac/v1/__init__.py
Labels: system backend

#321 Add new sys Policy class
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/policy.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/policy.py
  hvac/tests/integration_tests/api/system_backend/test_policy.py
  hvac/v1/__init__.py
Labels: system backend

#322 Add new sys Seal class
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/seal.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/seal.py
  hvac/constants/client.py
  hvac/tests/integration_tests/api/system_backend/test_seal.py
  hvac/tests/utils.py
  hvac/v1/__init__.py
Labels: system backend

#323 New sys backend classes - fix documation
  docs/usage/index.rst
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/key.rst
  docs/usage/system_backend/lease.rst
  docs/usage/system_backend/mount.rst
  docs/usage/system_backend/policy.rst
  docs/usage/system_backend/seal.rst
Labels: system backend

#325 Revert a few client deprecations
  docs/usage/system_backend/policy.rst
  hvac/api/system_backend/key.py
  hvac/api/system_backend/leader.py
  hvac/api/system_backend/policy.py
  hvac/api/system_backend/seal.py
  hvac/constants/client.py
  hvac/tests/integration_tests/api/system_backend/test_key.py
  hvac/tests/integration_tests/api/system_backend/test_policy.py
  hvac/v1/__init__.py
Labels: system backend

#303 [WIP] Implement Transit engine (#302)
  docs/usage/secrets_engines/index.rst
  docs/usage/secrets_engines/transit.rst
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/transit.py
  hvac/constants/transit.py
  hvac/tests/integration_tests/api/secrets_engines/test_transit.py
  hvac/tests/utils.py
  hvac/v1/__init__.py
Labels: secrets engines, transit

#326 Handle beta version string
  hvac/tests/utils.py
Labels: CI/CD

#269 [WIP] identity secrets engine
  docs/usage/secrets_engines/identity.rst
  docs/usage/secrets_engines/index.rst
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/identity.py
  hvac/constants/identity.py
  hvac/tests/integration_tests/api/secrets_engines/test_identity.py
Labels: identity, secrets engines
