Repository hvac/hvac, pull requests merged in 2019-05, with the labels that each got.

#431 Add database secret engine
  hvac/api/secrets_engines/database.py
Labels: database

#437 True up sys docs examples
  docs/conf.py
  docs/ext/hvac_doctest.py
  docs/usage/system_backend/audit.rst
  docs/usage/system_backend/auth.rst
  docs/usage/system_backend/health.rst
  docs/usage/system_backend/init.rst
  docs/usage/system_backend/key.rst
  docs/usage/system_backend/leader.rst
  docs/usage/system_backend/lease.rst
  docs/usage/system_backend/mount.rst
  docs/usage/system_backend/policy.rst
  docs/usage/system_backend/seal.rst
  docs/usage/system_backend/wrapping.rst
  tests/config_files/pgp_key.asc.b64
  tests/integration_tests/api/system_backend/test_lease.py
  tests/integration_tests/v1/test_system_backend.py
  tests/utils/__init__.py
  tests/utils/hvac_integration_test_case.py
Labels: documentation, system backend

#446 Release v0.9.0
  .bumpversion.cfg
  .gitignore
  CHANGELOG.md
  docs/conf.py
  docs/ext/hvac_doctest.py
  docs/requirements.in
  docs/requirements.txt
  docs/usage/auth_methods/azure.rst
  docs/usage/auth_methods/token.rst
  docs/usage/secrets_engines/gcp.rst
  docs/usage/secrets_engines/index.rst
  docs/usage/system_backend/audit.rst
  docs/usage/system_backend/auth.rst
  docs/usage/system_backend/health.rst
  docs/usage/system_backend/init.rst
  docs/usage/system_backend/key.rst
  docs/usage/system_backend/leader.rst
  docs/usage/system_backend/lease.rst
  docs/usage/system_backend/mount.rst
  docs/usage/system_backend/policy.rst
  docs/usage/system_backend/seal.rst
  docs/usage/system_backend/wrapping.rst
  hvac/adapters.py
  hvac/api/auth_methods/__init__.py
  hvac/api/auth_methods/radius.py
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/aws.py
  hvac/api/secrets_engines/consul.py
  hvac/api/secrets_engines/database.py
  hvac/api/secrets_engines/gcp.py
  hvac/constants/gcp.py
  hvac/v1/__init__.py
  requirements-dev.txt
  requirements.txt
  setup.py
  tests/config_files/pgp_key.asc.b64
  tests/doctest/__init__.py
  tests/integration_tests/api/secrets_engines/test_gcp.py
  tests/integration_tests/api/system_backend/test_lease.py
  tests/integration_tests/v1/test_system_backend.py
  tests/unit_tests/api/secrets_engines/test_aws.py
  tests/unit_tests/api/secrets_engines/test_gcp.py
  tests/utils/__init__.py
  tests/utils/hvac_integration_test_case.py
Labels: release

#436 PKI secret_engine implementation.
  docs/usage/secrets_engines/index.rst
  docs/usage/secrets_engines/pki.rst
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/pki.py
  tests/config_files/ca-cert.pem
  tests/config_files/ca-key.pem
  tests/config_files/ca.cnf
  tests/config_files/server-cert.csr
  tests/integration_tests/api/secrets_engines/test_pki.py
  tests/scripts/generate_test_cert.sh
Labels: secrets engines

#449 Add delete_roleset method
  docs/usage/secrets_engines/gcp.rst
  hvac/api/secrets_engines/gcp.py
Labels: gcp

#450 Release v0.9.1
  .bumpversion.cfg
  CHANGELOG.md
  docs/conf.py
  docs/usage/secrets_engines/gcp.rst
  docs/usage/secrets_engines/index.rst
  docs/usage/secrets_engines/pki.rst
  hvac/api/auth_methods/azure.py
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/gcp.py
  hvac/api/secrets_engines/pki.py
  setup.py
  tests/config_files/ca-cert.pem
  tests/config_files/ca-key.pem
  tests/config_files/ca.cnf
  tests/config_files/server-cert.csr
  tests/integration_tests/api/auth_methods/test_azure.py
  tests/integration_tests/api/secrets_engines/test_pki.py
  tests/scripts/generate_test_cert.sh
Labels: release

#455 include db engine as implemented class
  hvac/api/secrets_engines/__init__.py
Labels: database
