Repository hvac/hvac, pull requests merged in 2020-09, with the labels that each got.

#635 Update health.py to match new Vault API query parameters
  hvac/api/system_backend/health.py
Labels: misc, system backend

#638 Fix oidc login and add working example
  CHANGELOG.md
  docs/usage/auth_methods/jwt-oidc.rst
  hvac/api/auth_methods/jwt.py
Labels: documentation, enhancement, jwt/oidc

#632 Fix transit constants for "generate_data_key"
  hvac/constants/transit.py
Labels: bug, transit
