Repository hvac/hvac, pull requests merged in 2020-07, with the labels that each got.

#603 bugfix: options not read by tune_mount_configuration
  hvac/api/system_backend/mount.py
Labels: bug, system backend

#606 Add P-384 and RSA-3072 to list of allowed key types
  hvac/api/secrets_engines/transit.py
  hvac/constants/transit.py
Labels: enhancement, transit

#609 Correct Return Type Docstrings Within Transit Class
  hvac/api/secrets_engines/transit.py
Labels: documentation

#610 Update Vault version test matrix / Oldest Support Vault Version
  .travis.yml
  README.md
  tests/integration_tests/api/auth_methods/test_gcp.py
  tests/scripts/install-vault.sh
  tests/utils/server_manager.py
Labels: CI/CD, misc

#612 Add Autodoc Summaries
  docs/advanced_usage.rst
  docs/conf.py
  docs/requirements.in
  docs/requirements.txt
  docs/usage/secrets_engines/transform.rst
  hvac/api/auth_methods/aws.py
  hvac/v1/__init__.py
  tox.ini
Labels: documentation

#611 Add Identity Tokens Methods and Documentation
  .travis.yml
  docs/usage/secrets_engines/identity.rst
  hvac/api/secrets_engines/identity.py
  tests/integration_tests/api/secrets_engines/test_identity.py
  tests/utils/hvac_integration_test_case.py
Labels: enhancement, identity

#613 Add JWT/OIDC Authentication Method Classes
  docs/requirements.txt
  docs/usage/auth_methods/index.rst
  docs/usage/auth_methods/jwt-oidc.rst
  hvac/api/auth_methods/__init__.py
  hvac/api/auth_methods/jwt.py
  hvac/api/auth_methods/oidc.py
  requirements-dev.in
  requirements-dev.txt
  requirements.txt
  tests/config_files/oidc_private.pem
  tests/config_files/oidc_public.pem
  tests/integration_tests/api/auth_methods/test_jwt.py
  tests/integration_tests/api/auth_methods/test_oidc.py
  tests/utils/mock_oauth_provider/__init__.py
  tests/utils/mock_oauth_provider/app.py
  tests/utils/mock_oauth_provider/mock_oauth_provider.py
  tests/utils/mock_oauth_provider/models.py
  tests/utils/mock_oauth_provider/oauth2.py
  tests/utils/mock_oauth_provider/routes.py
  tests/utils/mock_oauth_provider/settings.py
Labels: enhancement, jwt/oidc

#614 Release v0.10.5
  .bumpversion.cfg
  .travis.yml
  CHANGELOG.md
  README.md
  docs/advanced_usage.rst
  docs/conf.py
  docs/requirements.in
  docs/requirements.txt
  docs/usage/auth_methods/index.rst
  docs/usage/auth_methods/jwt-oidc.rst
  docs/usage/secrets_engines/identity.rst
  docs/usage/secrets_engines/transform.rst
  docs/usage/secrets_engines/transit.rst
  hvac/api/auth_methods/__init__.py
  hvac/api/auth_methods/aws.py
  hvac/api/auth_methods/jwt.py
  hvac/api/auth_methods/oidc.py
  hvac/api/secrets_engines/identity.py
  hvac/api/secrets_engines/transit.py
  hvac/api/system_backend/leader.py
  hvac/api/system_backend/mount.py
  hvac/constants/transit.py
  hvac/v1/__init__.py
  requirements-dev.in
  requirements-dev.txt
  requirements.txt
  setup.py
  tests/config_files/oidc_private.pem
  tests/config_files/oidc_public.pem
  tests/integration_tests/api/auth_methods/test_gcp.py
  tests/integration_tests/api/auth_methods/test_jwt.py
  tests/integration_tests/api/auth_methods/test_oidc.py
  tests/integration_tests/api/secrets_engines/test_identity.py
  tests/scripts/install-vault.sh
  tests/utils/hvac_integration_test_case.py
  tests/utils/mock_oauth_provider/__init__.py
  tests/utils/mock_oauth_provider/app.py
  tests/utils/mock_oauth_provider/mock_oauth_provider.py
  tests/utils/mock_oauth_provider/models.py
  tests/utils/mock_oauth_provider/oauth2.py
  tests/utils/mock_oauth_provider/routes.py
  tests/utils/mock_oauth_provider/settings.py
  tests/utils/server_manager.py
  tox.ini
Labels: release
