Repository hvac/hvac, pull requests merged in 2020-04, with the labels that each got.

#558 Fix "Exception: member entities can't be set manually for external groups"
  hvac/api/secrets_engines/identity.py
Labels: bug, identity

#568 Update test matrix to include vault v1.4.0 / drop v1.0.3
  .travis.yml
  README.md
  docs/conf.py
Labels: CI/CD, skip-changelog

#569 Add Transform Secrets Engine
  docs/usage/secrets_engines/index.rst
  docs/usage/secrets_engines/transform.rst
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/transform.py
  tests/integration_tests/api/secrets_engines/test_transform.py
Labels: secrets engines, transform

#575 Add issuer to kubernetes configuration
  hvac/api/auth_methods/kubernetes.py
  tests/integration_tests/api/auth_methods/test_kubernetes.py
Labels: enhancement, kubernetes

#577 Fix format errors in contributing for HTML docs
  CONTRIBUTING.md
Labels: documentation
