Repository hvac/hvac, pull requests merged in 2021-06, with the labels that each got.

#707 Add `token_ttl` & `token_max_ttl` Arguments to `ldap.configure()`
  hvac/api/auth_methods/ldap.py
Labels: enhancement, ldap

#714 Allow Omission of Password Argument on Userpass `create_or_update_user()`
  hvac/api/auth_methods/userpass.py
Labels: enhancement, userpass

#718 Use PUTs for AWS Secrets Engine STS Requests
  hvac/api/secrets_engines/aws.py
Labels: aws, bug
