Repository hvac/hvac, pull requests merged in 2021-09, with the labels that each got.

#749 Fix incorrect recovery key backup path
  hvac/api/system_backend/key.py
Labels: bug, system backend

#746 jwt: use login adapter and add `use_token` param
  CONTRIBUTING.md
  hvac/api/auth_methods/jwt.py
Labels: enhancement, jwt/oidc

#745 Fix Client TLS `verify` Behavior
  hvac/v1/__init__.py
Labels: bug

#744 Removed vestigial accessor parameter from auth token revoke_self
  docs/usage/auth_methods/token.rst
  hvac/api/auth_methods/token.py
  hvac/v1/__init__.py
  tests/integration_tests/api/auth_methods/test_token.py
  tests/integration_tests/v1/test_integration.py
Labels: bug, token

#743 Fix Passing of `cert` Parameter From Client into Adapter Class
  hvac/adapters.py
  hvac/api/auth_methods/cert.py
Labels: bug, tls-cert-auth

#760 Add token_type to kubernetes auth create_role
  hvac/api/auth_methods/kubernetes.py
  tests/integration_tests/api/auth_methods/test_kubernetes.py
Labels: enhancement, kubernetes

#763 Reference vault-version when installing for tests
  .github/workflows/lint-and-test.yml
Labels: CI/CD, skip-changelog

#762 Add X-Vault-Request header to all requests by default
  hvac/adapters.py
Labels: enhancement

#764 Release v0.11.1
  .flake8
  .github/FUNDING.yml
  .github/workflows/lint-and-test.yml
  CONTRIBUTING.md
  README.md
  docs/ext/hvac_doctest.py
  docs/requirements.txt
  docs/usage/auth_methods/token.rst
  docs/usage/system_backend/key.rst
  hvac/adapters.py
  hvac/api/auth_methods/cert.py
  hvac/api/auth_methods/jwt.py
  hvac/api/auth_methods/kubernetes.py
  hvac/api/auth_methods/token.py
  hvac/api/system_backend/key.py
  hvac/v1/__init__.py
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  setup.py
  tests/config_files/pgp_key.asc.b64
  tests/integration_tests/api/auth_methods/test_kubernetes.py
  tests/integration_tests/api/auth_methods/test_token.py
  tests/integration_tests/v1/test_integration.py
Labels: release

#768 Revert `six` & `requests` Requirements Changes
  docs/requirements.txt
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  setup.py
Labels: bug

#769 Release 0.11.2
  .bumpversion.cfg
  .github/release-drafter.yml
  CHANGELOG.md
  docs/conf.py
  docs/requirements.txt
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  setup.py
Labels: release
