Repository hvac/hvac, pull requests merged in 2022-09, with the labels that each got.

#846 Allow configuring the possible salt lengths for RSA PSS signatures
  hvac/api/secrets_engines/transit.py
  hvac/constants/transit.py
  tests/integration_tests/api/secrets_engines/test_transit.py
Labels: enhancement, transit

#867 .gitignore: Add vscode config directory
  .gitignore
Labels: misc

#870 Integration Tests: Fix GCP test error
  tests/integration_tests/v1/test_integration.py
Labels: gcp, test failures

#871 Test utils: Migrate to packaging module's Version
  tests/utils/__init__.py
Labels: maintenance

#872 Test utils: Fix OTP length for Vault >=1.10.0
  tests/utils/__init__.py
Labels: system backend, test failures

#875 Tests: Fix Github auth tests
  tests/integration_tests/api/auth_methods/test_github.py
  tests/utils/mock_github_request_handler.py
Labels: github, test failures

#878 Tests: Fix Azure test failure
  tests/integration_tests/api/secrets_engines/test_azure.py
Labels: azure, test failures

#879 Tests: Fix broken oidc test
  tests/integration_tests/api/auth_methods/test_oidc.py
Labels: jwt/oidc, test failures

#880 Tests: Fix kubernetes integration test
  tests/integration_tests/api/auth_methods/test_kubernetes.py
Labels: kubernetes, test failures

#881 Tests: Handle 204 response in jwt test
  tests/integration_tests/api/auth_methods/test_jwt.py
Labels: jwt/oidc, test failures

#869 Token: Add create orphaned token method
  hvac/api/auth_methods/token.py
  tests/integration_tests/api/auth_methods/test_token.py
Labels: enhancement, token

#868 Remove deprecated methods
  docs/usage/auth_methods/azure.rst
  docs/usage/auth_methods/gcp.rst
  docs/usage/auth_methods/github.rst
  docs/usage/auth_methods/index.rst
  docs/usage/auth_methods/ldap.rst
  docs/usage/auth_methods/token.rst
  hvac/adapters.py
  hvac/v1/__init__.py
  tests/integration_tests/api/auth_methods/test_mfa.py
  tests/integration_tests/v1/test_integration.py
  tests/unit_tests/api/auth_methods/test_kubernetes.py
  tests/unit_tests/v1/test_kubernetes_methods.py
Labels: breaking-change, maintenance

#884 CI: Update Vault versions for integration tests
  .github/workflows/lint-and-test.yml
  tests/integration_tests/api/secrets_engines/test_identity.py
Labels: CI/CD

#894 docs: Add RTD config
  .readthedocs.yaml
  docs/requirements.txt
Labels: bug, documentation

#891 Add `role_name` parameter to `auth.token.create_orphan`
  CHANGELOG.md
  hvac/api/auth_methods/token.py
Labels: bug

#896 Release v1.0.1
  .readthedocs.yaml
  CHANGELOG.md
  docs/requirements.txt
  hvac/api/auth_methods/token.py
  pyproject.toml
Labels: release, patch

#897 Update dependencies
  poetry.lock
  pyproject.toml
Labels: dependencies

#899 Generate v1.0.2 Release
  CHANGELOG.md
  docs/conf.py
  poetry.lock
  pyproject.toml
Labels: release, patch
