Repository hvac/hvac, pull requests merged in 2023-12, with the labels that each got.

#1105 Revamp integration tests, run in parallel
  .github/workflows/lint-and-test.yml
  docs/overview.rst
  poetry.lock
  pyproject.toml
  tests/config_files/generated/.gitignore
  tests/config_files/vault-doctest.hcl
  tests/config_files/vault-ha-node1.hcl
  tests/config_files/vault-ha-node2.hcl
  tests/doctest/__init__.py
  tests/integration_tests/api/auth_methods/test_cert.py
  tests/integration_tests/api/auth_methods/test_jwt.py
  tests/integration_tests/api/auth_methods/test_oidc.py
  tests/integration_tests/api/secrets_engines/test_pki.py
  tests/integration_tests/api/system_backend/test_key.py
  tests/integration_tests/v1/test_integration.py
  tests/integration_tests/v1/test_system_backend.py
  tests/utils/__init__.py
  tests/utils/hvac_integration_test_case.py
  tests/utils/server_manager.py
Labels: misc, consul, tests, maintenance, developer experience

#1119 fix readthedocs (RTD) public docsite, modernize some of the docs build/testing
  .github/workflows/lint-and-test.yml
  .readthedocs.yaml
  CONTRIBUTING.md
  docs/conf.py
  docs/ext/hvac_doctest.py
  docs/requirements.txt
  poetry.lock
  pyproject.toml
  tests/unit_tests/v1/test_system_backend_methods.py
  tests/utils/__init__.py
Labels: documentation, misc, patch, maintenance

#1121 try not skipping on cache hit
  .github/workflows/lint-and-test.yml
Labels: documentation, CI/CD, skip-changelog

#1092 add quota support to system backend
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/quota.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/quota.py
  tests/integration_tests/api/system_backend/test_quota.py
Labels: enhancement, system backend, minor, hacktoberfest-accepted

#1100 Add support for sys/policies endpoint
  docs/usage/system_backend/index.rst
  docs/usage/system_backend/policies.rst
  hvac/api/system_backend/__init__.py
  hvac/api/system_backend/policies.py
  tests/integration_tests/api/system_backend/test_policies.py
Labels: enhancement, documentation, system backend, minor, hacktoberfest-accepted

#1122 update the KV documentation
  docs/usage/secrets_engines/kv.rst
Labels: documentation, secrets engines, kv, patch, maintenance
