Repository hvac/hvac, pull requests merged in 2023-07, with the labels that each got.

#1024 update coverage report locations, remove duplicate filenames
  .github/workflows/lint-and-test.yml
  .gitignore
Labels: CI/CD, meta, skip-changelog

#1023 expand Vault CI matrix, announce deprecation of Vault dynamic SSH keys
  .github/workflows/lint-and-test.yml
  codecov.yml
  hvac/api/secrets_engines/ssh.py
  tests/integration_tests/api/auth_methods/test_kubernetes.py
  tests/integration_tests/api/secrets_engines/test_azure.py
  tests/integration_tests/api/secrets_engines/test_identity.py
  tests/integration_tests/api/secrets_engines/test_ssh.py
Labels: CI/CD, deprecation

#1006 support "user_claim_json_pointer" in create_role() for JWT/OIDC auth method
  hvac/api/auth_methods/jwt.py
  hvac/api/auth_methods/oidc.py
  tests/unit_tests/api/auth_methods/test_jwt.py
Labels: enhancement, auth methods, jwt/oidc

#1022 Add impersonated account support to GCP secrets engine
  hvac/api/secrets_engines/gcp.py
  tests/unit_tests/api/secrets_engines/test_gcp.py
Labels: enhancement, gcp, secrets engines, minor

#968 Add new argument (conflicting_alias_ids_to_keep) to merge_entities method
  hvac/api/secrets_engines/identity.py
  tests/integration_tests/api/secrets_engines/test_identity.py
Labels: enhancement, secrets engines, identity, minor

#842 Re-add arguments to create_or_update_role() from old API
  hvac/api/auth_methods/token.py
  tests/unit_tests/api/auth_methods/test_token.py
Labels: enhancement, auth methods, token
