Repository hvac/hvac, pull requests merged in 2023-08, with the labels that each got.

#975 ldap auth method - add missing `configure` params by vault api names
  hvac/api/auth_methods/ldap.py
  hvac/utils.py
  tests/integration_tests/api/auth_methods/test_ldap.py
  tests/unit_tests/api/auth_methods/test_ldap.py
  tests/unit_tests/utils/test_utils.py
  tests/utils/hvac_integration_test_case.py
Labels: enhancement, auth methods, ldap, deprecation

#771 Fix premature read on stream requests in the `sys.take_raft_snapshot` method
  hvac/adapters.py
  hvac/api/system_backend/raft.py
  tests/unit_tests/test_adapters.py
Labels: bug, system backend, adapters

#1028 add `Client.write_data` method
  hvac/v1/__init__.py
  tests/integration_tests/v1/test_integration.py
Labels: bug, enhancement, minor, client
