Repository hvac/hvac, pull requests merged in 2023-09, with the labels that each got.

#1039 Add alias_name_source for Kubernetes Auth create_role
  hvac/api/auth_methods/kubernetes.py
  tests/integration_tests/api/auth_methods/test_kubernetes.py
  tests/unit_tests/api/auth_methods/test_kubernetes.py
Labels: enhancement, auth methods, kubernetes

#1036 docs(secrets-engines): Add database secrets engine docs
  docs/usage/secrets_engines/database.rst
  docs/usage/secrets_engines/index.rst
Labels: documentation, secrets engines, database

#1041 use anonymous references in changelog conversion
  docs/conf.py
Labels: documentation, meta, skip-changelog

#1035 Release/v1.2.0
  .bumpversion.cfg
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Labels: release

#1046 fix asset publish job
  .github/workflows/release.yml
Labels: CI/CD, skip-changelog

#1045 Fix raise_on_deleted_version warning
  hvac/api/secrets_engines/kv_v2.py
Labels: bug, secrets engines, kv, patch

#1047 Release/v1.2.1
  .bumpversion.cfg
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Labels: release

#1048 Drop Python 3.6 & 3.7, Add Python 3.11, bump some dependencies
  .github/workflows/build-test.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/release.yml
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
  tests/utils/mock_oauth_provider/app.py
Labels: CI/CD, dependencies, breaking-change, major, tests, maintenance

#1049 Make `plaintext` and `ciphertext` optional for batch operations
  hvac/api/secrets_engines/transit.py
  tests/integration_tests/api/secrets_engines/test_transit.py
Labels: enhancement, secrets engines, transit

#1060 Make `pyhcl` optional again
  pyproject.toml
Labels: dependencies, breaking-change

#1021 adapters: if `session` is user-supplied, do not overwrite session options with `Client`/`Adapter` options
  hvac/adapters.py
  tests/unit_tests/test_adapters.py
Labels: bug, adapters, client

#1051 dev dependencies: bump pytest version
  poetry.lock
  pyproject.toml
Labels: dependencies, skip-changelog

#1056 Remove MFA class
  docs/usage/auth_methods/index.rst
  docs/usage/auth_methods/legacymfa.rst
  hvac/api/auth_methods/__init__.py
  hvac/api/auth_methods/legacy_mfa.py
  hvac/api/auth_methods/mfa.py
  hvac/constants/client.py
  hvac/utils.py
  tests/integration_tests/api/auth_methods/test_legacy_mfa.py
  tests/unit_tests/api/auth_methods/test_legacy_mfa.py
  tests/unit_tests/utils/test_utils.py
Labels: auth methods, breaking-change, MFA

#1062 Remove old deprecated `client` attributes
  hvac/api/auth_methods/__init__.py
  hvac/constants/client.py
Labels: breaking-change, major, client
