Repository hvac/hvac, pull requests merged in 2024-04, with the labels that each got.

#1136 Add sts_region parameter to auth.aws.configure
  hvac/api/auth_methods/aws.py
Labels: enhancement, aws, auth methods, minor

#1153 Make integration tests more reliable
  tests/utils/__init__.py
  tests/utils/server_manager.py
Labels: patch, tests

#1155 add Vault 1.16.x to CI matrix
  .github/workflows/lint-and-test.yml
  tests/integration_tests/api/auth_methods/test_jwt.py
Labels: CI/CD, misc, patch

#1148 Add new exception types for HTTP status 405 and 412
  hvac/exceptions.py
Labels: enhancement, minor, adapters, announcement

#1156 update codecov to v4 and use upload token
  .github/workflows/lint-and-test.yml
Labels: CI/CD, skip-changelog

#1033 LDAP secret engine support (#1032)
  docs/usage/secrets_engines/index.rst
  docs/usage/secrets_engines/ldap.rst
  hvac/api/secrets_engines/__init__.py
  hvac/api/secrets_engines/ldap.py
  tests/unit_tests/api/secrets_engines/test_ldap.py
Labels: enhancement, secrets engines, ldap, minor

#1163 LDAP secrets engine enhancements
  docs/usage/secrets_engines/ldap.rst
  hvac/api/secrets_engines/ldap.py
  tests/unit_tests/api/secrets_engines/test_ldap.py
Labels: enhancement, secrets engines, ldap, minor

#1164 Release/v2.2.0
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
Labels: release
